---
import '@fontsource/dancing-script';
import '../styles/global.css';
import Home from '../components/Home.astro';
import Divider from '../components/Divider.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Education from '../components/Education.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Loader from '../components/Loader.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Angel Marie Sabido - Portfolio</title>
	</head>
	<body>
		<Loader />
		<Home />
		<About />
		<Divider type="red-to-red" />
		<Skills />
		<Divider type="red-to-red" />
		<Projects />
		<Divider type="red-to-red" />
		<Education />
		<Divider type="red-to-red" />
		<Contact />
		<Footer />

		<script>
			window.onbeforeunload = function () {
				window.scrollTo(0, 0);
			};
		</script>
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}
</style>
