---
interface Props {
  type?: 'light-to-dark' | 'dark-to-light';
}
const { type = 'light-to-dark' } = Astro.props;

// Determine colors based on type
const bgColor = type === 'light-to-dark' ? 'bg-light' : 'bg-primary';
const pathFill = type === 'light-to-dark' ? 'fill-primary' : 'fill-light';
---

<div class={`divider w-full leading-[0] m-0 p-0 relative z-[5] ${bgColor}`}>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" preserveAspectRatio="none" class="block w-full h-20 -mt-px -mb-px">
    <path d="M0,50 Q80,20 160,50 T320,50 T480,50 T640,50 T800,50 T960,50 T1120,50 T1280,50 T1440,50 L1440,100 L0,100 Z" class={pathFill}/>
  </svg>
</div>
