---
interface Props {
  type?: 'light-to-dark' | 'dark-to-light';
}
const { type = 'light-to-dark' } = Astro.props;
---

<div class={`divider ${type}`}>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" preserveAspectRatio="none">
    <path d="M0,50 Q80,20 160,50 T320,50 T480,50 T640,50 T800,50 T960,50 T1120,50 T1280,50 T1440,50 L1440,100 L0,100 Z" class="divider-path"/>
  </svg>
</div>

<style>
  .divider {
    width: 100%;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
    background-color: transparent;
  }

  svg {
    display: block;
    width: 100%;
    height: 80px;
    margin-top: -1px; /* Prevents tiny pixel-wide gaps */
    margin-bottom: -1px; /* Prevents tiny pixel-wide gaps */
  }

  .light-to-dark {
    /* Above is light (cream), below is dark (red). */
    /* The SVG is filled with red color. */
    background-color: #fcf7e0;
  }

  .light-to-dark .divider-path {
    fill: #a51e1e; /* Red */
  }

  .dark-to-light {
    /* Above is dark (red), below is light (cream). */
    /* The SVG is filled with cream color. */
    background-color:  #a51e1e;
  }

  .dark-to-light .divider-path {
    fill: #fcf7e0; /* Cream */
  }
</style>
